<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @job.payment %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user.try(:full_name) %>
</p>

<!-- start jtinder container -->
<div id="tinderslide">
  <ul>
    <%= render @users %>
  </ul>
</div>

<!-- jTinder trigger by buttons  -->
<div class="actions">
 <a href="#" class="dislike"><i></i></a>
 <a href="#" class="like"><i></i></a>
</div>

<!-- jTinder status text  -->
<div id="status"></div>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
